<h2>Messages</h2>
<div *ngIf="messageService.messages.lenght!=0">

    
    <button class="clear" (click)="messageService.clear()">clear</button>
    <div *ngFor='let message of messageService.messages'>{{message}}</div>
</div>
